.container {
  width: 7.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}
.counterText {
  font-size: 2rem;
}
.input {
  width: 4rem;
  height: 2.5rem;
  border-radius: 1rem;
}
.cartQty {
  composes: container;
  width: 11.5rem;
  height: 3.5rem;
  justify-content: space-evenly;
}